<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Show all INFO</title>
    <link th:href="@{/styles/cssandjs/bootstrap.min.css}" rel="stylesheet"/>


</head>
<body>
<section class="AllActualInformation">
    <h3 >Работы на сегодня name</h3>
    <div style="margin: 10px"
         th:text="'Logged in as: '+${Name}">
    </div>

    <table class="table table-md table-bordered">
        <tr style="text-align: center; vertical-align: middle">
            <th>name</th>
            <th>surname</th>
            <th>salary</th>
            <th>action</th>
        </tr>


        <div th:each="el:${Employees}" class="editInformation">
            <tr style="text-align: center; vertical-align: middle">
                <td th:text="${el.name}">test</td>
                <td th:text="${el.surname}">test</td>
                <td th:text="${el.salary}">test</td>
                <td>
                    <div >
                        <a th:href="@{deleteEmployee/__${el.id}__}" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                    <br>
                    <div>
                        <a th:href="@{/Update/{id}(id=${el.id})}" class="btn btn-primary btn-sm">Update</a>
                    </div>
                </td>
            </tr>
        </div>
    </table>

</section>

<a th:href="@{/}" class="btn btn-primary">Exit</a>
</body>
</html>